@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 2rem;
  color: cyan;
}

.card-wrapper {
  margin-top: 2rem;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.img1 {
  color: cyan;
  background-color: white;
  width: 2rem;
  height: 2rem;
}

.img2 {
  color: cyan;
  background-color: white;
  width: 2rem;
  height: 2rem;
}
